body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

#header{
    margin-top: 39px;
}
#logo {
    float: left;
     
    width: 126px;
    padding-top: 10px;
    margin-left: 10px;
    border-radius: 38px;

   }
#toppara{

text-align: center;
font-size: 16px;

}
#heading{
    text-align: center;
    
    color: blue;
    font-size: 26px;
    
}
#slideshowtop{

    text-align: center;
    color: rgb(65, 47, 59);
    transition: 2s; 
    /* DON'T KNOW WHY MOTION IS NOT SHOWING USING TRANSITION */
    
}
.nevbar{
    display:flex;
    border-radius: 8px;
background-color: rgb(231, 200, 98);
list-style-type:none;
padding: 0px;
margin: 0px;



}
.nevbar ul{
    list-style-type: none;
    display: flex;
}
.nevbar li a{
    
text-decoration: none;
padding: 7px;
/* keep it 15px if not perfectly visible */
font-size: 17px;
/* keep it 20px if not perfectly visibl */

}
#picword{
background-image: url(covid.jpeg);
height: 550px;
background-size: cover;
margin-bottom: 8px;
text-align: end;
}

#reg1{
    align-items: flex-end;
}
#reg2{
    align-items: flex-end;
}
#vidcontent{
    display:inline-flex;
}  
.vid{
    display:flex;
    margin-right: 68px;

}

#vidside{
display:inline-grid;
background-color: orange;
border: 5px;
border-radius: 14px
}
#vidlink{
    text-decoration-line: underline;
    padding: 12px
}
#vidside ul li a{
    text-decoration-color: white;
}
#vidside ul li a:hover{
    color: beige;

}
footer{
    padding: 22px;
    padding-left: 425px;
}
