body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

#header{
    margin-top: -39px;
}
#logo {
    float: left;
     
    width: 126px;
    padding-top: 10px;
    margin-left: 10px;
    border-radius: 38px;
}
#toppara{

    text-align: center;
    font-size: 16px;
    
    }
    #heading{
        text-align: center;
        
        color: blue;
        font-size: 26px;
        
    }
    #slideshowtop{
    
        text-align: center;
        color: rgb(65, 47, 59);
        transition: 2s; 
        /* DON'T KNOW WHY MOTION IS NOT SHOWING USING TRANSITION */
        
    }
footer{
    padding: 22px;
    padding-left: 425px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 10px;
    background-image: url(covid.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
button{
    background-color: darkblue;
    color: white;
    font: bold;
    font-size: medium;
    font-weight: 80%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 32px;
}